<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="notworry.rj.edu.notworry">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ui.Activity.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Ui.Activity.ChatActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ui.Activity.MainActivity"/>
        <activity android:name=".Ui.Activity.SpotSearch"/>
        <activity android:name=".Ui.Activity.LoginFirst"/>
        <activity android:name=".Ui.Activity.LoginMainActivity"/>
        <activity android:name=".Ui.Activity.RegisterActivity"/>
        <activity android:name=".Ui.Activity.SMSActivity"/>
        <activity android:name=".Ui.Activity.User_DetailActivity"/>
        <activity android:name=".Ui.Activity.AddGroupActivity"/>
        <activity android:name=".Ui.Activity.OrdersActivity"/>
        <activity android:name=".Ui.Activity.DetailPage"/>
        <activity android:name=".Ui.Activity.AddTravelActivity"/>
        <activity android:name=".Ui.Activity.PlaymateTopActivity"
            android:theme="@style/MyDialogStyleTop">
        </activity>
        <activity android:name=".Ui.Activity.Order_DetailActivity"/>
        <activity android:name=".Ui.Activity.GroupDetailPage"/>
        <activity android:name=".Ui.Activity.UserAddGroupMsg"/>
        <activity android:name=".Ui.Activity.GroupDetails"/>
        <activity android:name=".Ui.Activity.SpActivity"/>
        <activity android:name=".Ui.Activity.LoginOnce"
            android:theme="@style/Translucent"
            />

        <service
            android:name=".Service.SocketService"
            android:enabled="true"
            android:exported="true" >
        </service>

    </application>

</manifest>